/* This is the style sheet for the posters project page of Michael's website. */

body > img, .poster > img {
  display: block;
  width: 100%;
}

h1 {
  margin-top: 40px;
}

body > p {
  text-align: center;
}

.poster {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
