/* This is the style sheet for the posters project page of Michael's website. */

#intro img {
  width: 100%;
}

#content {
  text-align: center;
  color: #555555;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
}

#content h1, #content h2 {
  font-family: "europa", serif;
  font-weight: 300;
  letter-spacing: .13em;
  text-transform: uppercase;
}

#content h1 {
  font-size: 1.2em;
}

#content h2 {
  font-size: 1em;
}

#content img {
  width: 570px;
  height: 570px;
}

#content p {
  text-align: left;
  margin-bottom: 80px;
}
