/* This is the style sheet for Michael's website. */

body {
  font-family: "adobe-garamond-pro", "Garamond", serif;
  font-size: 12pt;
  line-height: 28px;
  margin: 0em;
  padding: 0em;
}

.flash span {
  background-color: #ffffcc;
  border-width: 2px;
  border-style: dotted;
  border-color: #ccccaa;
}

/* TODO add style for head id or remove id */

#logo {
  width: 130px;
  margin: 85px auto;
  display: block;
}

#about {
  background-color: #e4e4e4;
  padding-top: 100px;
  padding-bottom: 80px;
}

#about h1 {
  font-family: "europa", serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .13em;
  color: #808080;
  text-align: center;
  text-transform: uppercase;
}

#about p {
  color: #959595;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
}

/* TODO add style for portfolio id or remove id */
/* TODO add style for portfolio-item class or remove class */
