/* This is the style sheet for my website. */

body {
  font-family: "Georgia", "Garamond", serif;
  font-size: 12pt;
  margin: 0em;
  padding: 0em;
}

.flash span {
  background-color: #ffffcc;
  border-width: 2px;
  border-style: dotted;
  border-color: #ccccaa;
}
