/* This is the style sheet for Michael's website. */

/* TODO add CSS variables */

/* Global style rules */

body {
  font-family: "adobe-garamond-pro", "Garamond", serif;
  font-size: 12pt;
  text-align: center;
  line-height: 28px;
  margin: 0em;
  padding: 0em;
  background-color: white;
}

h1, h2 {
  font-family: "europa", serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 1em;
  letter-spacing: .08em;
}

h2 {
  font-size: .9em;
  letter-spacing: .05em;
}

p {
  font-family: "adobe-garamond-pro", "Garamond", serif;
  text-align: justify; /* text-align: left; */
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.flash {
  text-align: center;
}

.flash > span {
  background-color: #ffffcc;
  border-width: 2px;
  border-style: dotted;
  border-color: #ccccaa;
}

header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

header img {
  width: 130px;
}

/* TODO add style rules for footer of page or remove footer */
/* TODO add style rules for portfolio */
/* TODO add style rules for portfolio id or remove id */
/* TODO add style rules for portfolio-item class or remove class */
