/*
This is the style sheet for the Anne Douglass therapy project page of Michael's
website.
*/

img#logo {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#brochure {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  min-width: 320px;
  max-width: 700px;
  margin: 40px auto;
}

#brochure > img {
  width: 320px;
  margin-top: 20px;
}

.link-box {
  background-color: #eaeaea;
}
