/* This is the style sheet for the antivaxx project page of Michael's website. */

body > img, #infograph > img {
  display: block;
  width: 100%;
}

#infograph {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

h1 {
  margin-top: 40px;
}

h1 > span {
  font-size: 0.9em;
  letter-spacing: normal;
  text-transform: none;
}

iframe {
  width: 640px;
  height: 360px;
}

.subsection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.subsection > img {
  width: 320px;
}

.subsection > div, .subsection p {
  width: 320px;
}

.subsection:nth-child(even) {
  flex-direction: row;
}

.subsection:nth-child(even) {
  flex-direction: row-reverse;
}
