/* This is the style sheet for the catnip project page of Michael's website. */

iframe + h2 {
  margin-top: 0;
}

img#logo {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

#mobile, #characters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  min-width: 320px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#mobile > img, #characters > img {
  width: 230px;
}
