/* This is the style sheet for the main page of Michael's website. */

#intro {
  font-size: 1.7em;
	color: #515151;
  text-align: left;
  min-width: inherit;
  max-width: 570px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#intro a {
  display: block;
  margin-bottom: 20px;
}

#intro img {
  width: 150px;
}

@media (max-width: 767px) {
  #intro {
    width: 85%;
  }
}

#about {
  background-color: #eaeaea;
  color: #808080;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.link-box {
  background-color: #fcfcfc;
}

footer {
  margin-top: 0;
}
