/* This is the style sheet for the main page of Michael's website. */

header {
  display: none;
}

h1, h2 {
  font-family: "europa", sans-serif;
}

#intro {
  font-size: 1.7em;
	color: #515151;
  text-align: left;
  max-width: 635px;
  margin-top: 130px;
  margin-bottom: 130px;
}

#intro a {
  display: block;
  margin-bottom: 20px;
}

#intro img {
  width: 150px;
}

@media (max-width: 767px) {
  #intro {
    font-size: 1.5em;
    width: 85%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #about {
    margin-top: 100px;
  }
}

#about {
  background-color: #eaeaea;
  color: #808080;
  margin-top: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.link-box {
  background-color: #fcfcfc;
}

footer {
  margin-top: 0;
}
