/* This is the style sheet for the link project page of Michael's website. */

#small-logo {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#big-logo {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
