/* This is the style sheet for the portfolio. */

#portfolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.project, .project img {
  width: 320px;
}
