/*
This is the style sheet for the Seattle animation film festival project page of
Michael's website.
*/

#icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#icons > img {
  width: 240px;
}

#icons > img:first-child {
  width: 100%;
}

#mobile, #merchandise {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#mobile > img, #merchandise > img {
  width: 230px;
}

.link-box {
  background-color: #eaeaea;
}
