/* This is the style sheet for Michael's website. */

/* TODO add CSS variables */

/* Global style rules */

body {
  font-family: "adobe-garamond-pro", "Garamond", serif;
  font-size: 12pt;
  text-align: center;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
  background-color: #fcfcfc;
  color:rgb(60, 60, 60);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global style rules for headers */

h1, h2 {
  font-family: "europa", sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0px;
}

h1 {
  font-size: 1em;
  letter-spacing: .08em;
}

h1 > span {
  font-size: .9em;
  letter-spacing: normal;
  text-transform: none;
}

h2 {
  font-size: .9em;
  letter-spacing: .05em;
}

/* Global style rules for paragraphs */

p {
  font-family: "adobe-garamond-pro", "Garamond", serif;
  text-align: left;
  min-width: 300px;
  max-width: 480px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
}

/* Global style rules for anchors */

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* Global style rules for inline frames */

iframe {
  min-width: 320px;
  max-width: 700px;
  width: 100%;
  height: 300px;
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style rules for flash messages */

.flash {
  text-align: center;
}

.flash > span {
  background-color: #ffffcc;
  border-width: 2px;
  border-style: dotted;
  border-color: #ccccaa;
}

/* Style rules for portfolio */

#portfolio {
  display: flex;
  justify-content: center;
  /* align-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.project, .project img {
  max-width: 380px;
  width: 100%;
}

/* Style rules for link boxes */

a.link-box {
  padding: 10px;
  font-family: "europa", sans-serif;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: #eaeaea;
}

/* Style rules for image spreads */

img.spread {
  display: block;
  width: 100%;
}

/* Style rules for figures */

.figure {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  min-width: 320px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.figure > img {
  width: 320px;
}

.figure p {
  width: 300px;
}

.figure:nth-child(odd) {
  flex-direction: row;
}

.figure:nth-child(even) {
  flex-direction: row-reverse;
}

/* Style rules for header */

header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header img {
  width: 190px;
}

/* Style rules for footer */

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eaeaea;
  margin-top: 20px;
  padding: 10px 20px;
}

footer > a {
  margin-left: 10px;
}

footer img {
  width: 25px;
  height: 25px;
}

footer a.link-box {
  padding: 4px;
  font-size: .8em;
  letter-spacing: .1em;
  background-color: white;
}

/* Style rules for website mockup */

#website {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}

#website > img {
  display: block;
}

#website > img, #website > video {
  width: 100%;
  margin-bottom: 20px;
}

#website > p {
  margin-top: 20px;
}
