/*
This is the style sheet for the Texas art and film project page of Michael's
website.
*/

/* TODO split mobile image into two images */

img#mobile {
  width: 500px;
}

img + img {
  margin-top: 20px;
}

#festivals {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* background-color: #eaeaea; */
}

#festivals > img {
  width: 320px;
}

#festivals > div, #festivals p {
  width: 320px;
}

.link-box {
  background-color: #eaeaea;
}
